body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header  {
  background-color: #2D3047;
}

.header h1 {
  color: darkgray
}

.main {
  background-color: #93B7BE;
  padding: none;
}

.navbar {
  color:darkgray
}

.card {
  background-color: #2D3047;
}

.card a {
  text-decoration: none;
  background-color: #2D3047;
  color:darkgray
}

footer{
  background-color: #2D3047;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

#contact-form{
  background-color: #2D3047;
  color : darkgray
}
